@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");

:root {
  --black: #2e3c45;
  --white: #d6c4b8;
  --orange: #e69077;
  --red: #da4348;
  --darkRed: #8b3e50;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

hr {
  margin: 50px 0;
  border-bottom: 1px dashed var(--white);
}

input,
textarea {
  background-color: transparent;
  font-size: 20px;
  color: var(--white);
  padding: 10px;
  border-bottom: 1px solid var(--white);

  &::placeholder {
    color: rgba($color: #d6c4b8, $alpha: 0.5);
  }
}

textarea {
  resize: none;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--white);
  color: var(--black);
  font-weight: 700;
  cursor: pointer;

  @media (min-width: 768px) {
    &:hover {
      background-color: darken($color: #d6c4b8, $amount: 10);
    }
  }

  &:active {
    background-color: darken($color: #d6c4b8, $amount: 20);
  }
}

#root {
  font-family: "IBM Plex Mono", monospace;
  background-color: var(--black);
  color: var(--white);
  font-size: 18px;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 730px;
  padding: 0 15px;
  margin: 0 auto;
}

.box {
  margin: 50px 0;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.form {
  margin: 30px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
